__pycache__/
*.pyc
.venv/
venv/
env/
.env
.ipynb_checkpoints/
data/bosch_numeric_sample.csv
data/train_numeric.csv
data/*.zip
data/simulated/
artifacts/
*.db
*.sqlite
*.sqlite3
*.log
.DS_Store
.streamlit/secrets.toml
*.pdf
